.hamburger {
  cursor: pointer;
  padding: 0;
  z-index: 1000; /* Sicherstellen, dass es über anderen Elementen liegt */
  background-color: #333;
  border: none;
}

.hamburger:hover {
  background-color: #575757;
  border-radius: 4px;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4.5px 0;
  transition: 0.4s;
}

.hamburger.open .bar1 {
  transform: translateY(8px) rotate(-45deg);
}

.hamburger.open .bar2 {
  opacity: 0;
}

.hamburger.open .bar3 {
  transform: translateY(-8px) rotate(45deg);
}
