@use "../../../styles/colors.scss";

.blog-detail {
  display: flex;
  align-items: center;
  flex-direction: column;

  .back {
    width: 80%;
    max-width: 800px;
    padding: 0px 25px;
    // margin-left: 70%;
    // margin-right: 10%;
    display: flex;
    justify-content: right;
    margin-bottom: 20px;

    button {
      background-color: colors.$color-primary;
      color: colors.$color-text-icons;
      width: 20%;
      height: 40px;
      border: none;
      border-radius: 15px;
      border-color: colors.$color-primary-dark;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    button:hover {
      background-color: colors.$color-primary-light;
      color: colors.$color-text-primary;
    }
  }
}
