@use "../../../styles/colors.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  padding-right: 30px;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #575757;
  border-radius: 4px;
}

/* Verstecke das Hamburger-Icon auf größeren Bildschirmen */
app-hamburger-icon {
  display: none;
}

/* Media Query für mobile Ansicht */
@media (max-width: 768px) {
  .navbar {
    justify-content: space-between; /* Hamburger links, optional Titel/Logo rechts */
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 70px; /* Unterhalb der Navbar */
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    border-top: 1px solid #555;
    transform: translateY(-100%); /* Startposition oberhalb des Viewports */
    transition: transform 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none; /* Deaktiviert Klicks, wenn Menü geschlossen */
  }

  .nav-links.open {
    transform: translateY(0); /* Menü nach unten schieben */
    opacity: 1;
    pointer-events: auto; /* Aktiviert Klicks, wenn Menü offen */
  }

  .nav-links a {
    text-align: center;
    padding: 15px 0;
    width: 100%;
  }

  /* Zeige das Hamburger-Icon auf kleineren Bildschirmen an */
  app-hamburger-icon {
    display: block;
    margin-right: 30px;
  }
}

.user {
  margin-right: auto;
  display: flex;
  justify-content: flex-start;

  button {
    background-color: #333;
    padding: 15px;
    color: colors.$color-accent;
    border: none;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  button:hover {
    background-color: #575757;
    border-radius: 4px;
  }

  .circle {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: colors.$color-primary;
    background-color: colors.$color-accent;
    text-transform: uppercase;
  }
}
