@use "../../../styles/colors.scss";

h1 {
  padding-top: 20px;
  text-align: center;
}

p {
  text-align: center;
}

button {
  display: block;
  margin: auto;
  background-color: colors.$color-primary;
  color: colors.$color-text-icons;
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 15px;
  border-color: colors.$color-primary-dark;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: colors.$color-primary-light;
  color: colors.$color-text-primary;
}
