@use "../../../styles/colors.scss";

h1 {
  padding-top: 20px;
  text-align: center;
}

p {
  text-align: center;
}

button {
  display: block;
  margin: auto;
  background-color: colors.$color-primary;
  color: colors.$color-text-icons;
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 15px;
  border-color: colors.$color-primary-dark;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: colors.$color-primary-light;
  color: colors.$color-text-primary;
}

:host {
  .error-message {
    padding: 1rem;
    margin: 1rem 0;
    color: var(--mat-sys-error);
    background-color: var(--mat-sys-error-container);
  }

  .mat-icon {
    padding-right: 5px;
  }

  .mat-toolbar.mat-primary {
    position: fixed;
    top: 0;
    z-index: 2;
    cursor: pointer;
  }

  .submit-button {
    margin-bottom: 10px;
    margin-top: 20px;
  }

  button {
    width: 200px;
    margin-left: auto;
  }

  .blog-input {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    mat-form-field.mat-mdc-form-field {
      margin-top: 10px;
      width: 100%;
    }
  }
}
