@use "../../../styles/colors.scss";

mat-card {
  align-items: center;
  width: 400px;
  margin: 10px;
  background-color: colors.$color-primary-light;
  color: colors.$color-text-primary;

  mat-card-header {
    margin-bottom: 10px;

    mat-card-title,
    mat-card-subtitle {
      text-align: center;
      color: colors.$color-text-primary;
    }
  }

  img {
    width: 90%;
    align-self: center;
  }
}
